<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="{{ page.author }}">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/kwsb.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <style type="text/css">

    </style>
  </head>
