<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="{{ page.author }}">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/moabienen.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <style type="text/css">
      .header-container .background {
        background-color: #C6FDB5;
      }
      .nav-moabees .nav > li > a:hover {
        color: #4A43F5;
      }
    </style>
  </head>

  <body>
    <div class="header-container">
      <div class="container header-inner">
        <div class="row header-row">
          <div class="col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-3">
            <header class="header">
              <h1>
                <div class="what">Kunst Werk Stadt Berlin e.V.</div>
                  </div>
                </div>
              </h1>
            </header>
          </div>
        </div>
          {{ content }}
        </div>
      </div>
    </div>
    <div class="footer-container">
      <div class="container">
        <div class="row">
          <div class="footer col-sm-10 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            </div>
            <div class="footer-text content">
              <p>
                Vielen Dank an <strong><a href="http://stefanwehrmeyer.com/">Stefan Wehrmeyer</a></strong> für die technische Umsetzung und Beratung! <strong><a href="http://stefanwehrmeyer.com/">Stefan Wehrmeyer's Beste</a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>